/* Add screen styles below */
a.active {
    font-weight: bold;
}
body{
    background: #37323E;
    margin-top: 100px;
    font-family: Arial, sans-serif;
}
.card {
    background: #F6F6FA;
    color: #37323E;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    
}

.card div {
    padding: 20px;
}

h1 {
    background: #635f8c;
    margin: 0; 
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-family: Arial, sans-serif;
    
}
img {
    float: left;
    margin-right: 40px;
}